$background: #282c34;
$backgroundTabs: #00000000;
$backgroundNavbar: #1c1e24;

$navHover: #272a33;

$accent: #4afd86;

$fontTextBright: #eeeeee;
$fontTextDark: #8f949d;
$fontText: #d0d5df;
$fontTextBrightInvert: #111111;

$borderLight: #ffffff1a;