@import './_themeDark.scss';

$navbarWidth: 80px;
$footerHeight: 28px;
$headerHeight: 35px;

main {
    margin-left: $navbarWidth;
    margin-top: $headerHeight;
}

article {
    margin-bottom: 3rem;

    header {
        text-align: center;
    }

    a {
        font-weight: 600;
        color: $fontTextBright;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $accent;

        &:hover {
            font-weight: 600;
            background: $accent;
            color: $fontTextBrightInvert;
            border-top: 2px solid $accent;
            border-bottom: 2px solid $accent;
        }
    }
}

.hero {
    header {
        padding: 2rem 0 0;
        text-align: left;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 2rem;
}

.navbar {
    height: calc(100vh - $footerHeight);
    min-width: $navbarWidth;
    position: fixed;
    top: 0;
    left: 0;
    background: $backgroundNavbar;
    display: flex;

    a {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1rem;

        &.active {
            background: $navHover;
            border-left: 3px solid $accent;
            outline: none;
        }

        &:hover {
            background: $navHover;
        }
    }

    img {
        height: auto;
        max-width: 40px;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

.web-header {
    display: flex;
    justify-content: flex-start;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: $navbarWidth;
    width: calc(100vw - $navbarWidth);
    background: $backgroundTabs;

    .header-name {
        display: flex;
        align-items: center;
        background: $background;
        color: white;
        border-top: 3px solid $accent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: .9rem;
        padding: 0 1rem;
        position: relative;
        top: 0;
        left: $footerHeight;
    }
}

.footer {
    height: $footerHeight;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $backgroundTabs;

    section {
        align-items: stretch;
        display: flex;
        height: 100%;
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 0.25rem;
        margin: 0 1rem;
    }

    span {
        color: white;
        align-items: center;
        font-size: .8rem;
        line-height: $footerHeight;
        padding: 0 .5rem;
    }
}