$navbarWidth: 80px;

main {
    margin-left: $navbarWidth;
}

.navbar {
    height: 100vh;
    min-width: $navbarWidth;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(46, 46, 46);
    display: flex;

    a {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    img {
        height: auto;
        max-width: 40px;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}